/* zerando config padrão css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* setando background */
body {
  background-color: #ffead6;
  background-image: url("./assets/images/Flat-Mountains.svg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* trabalhando o menu mobile */

header {
  padding: 5%;
}

header #open-modal {
  position: fixed;
  border: none;
  font-size: 3em;
  background: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10%;
  width: 90%;
  list-style: none;
}

.modal-content ul {
  margin: 6%;
  padding: 2%;
  font-size: 1.8em;
}

.modal-content ul a {
  text-decoration: none;
}

.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 3em;
  font-weight: bold;
  margin-right: 8%;
  margin-top: 1%;
}


/* primeira div */

.text-background {
  font-weight: 900;
  color: transparent;
  font-size: 4em;
  text-align: center;
  font-family: sans-serif;

  padding: 5% 0;

  background-image: url("./assets/images/universe.jpg");

  -webkit-background-clip: text;
}

.about-me, .personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me {
  margin: 8% 0;
}

.about-me img {
  width: 65%;
  margin-top: 5%;
}

.about-me p {
  text-align: center;
  font-size: 1.8em;
}

.about-me .more-info {
  padding: 3%;
  margin: 10% 0;
  font-size: 1.6em;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius:8px;
}

.personal-info, .habilities, .projects, .contact {
  height: 100vh;
}

.personal-info p {
  padding: 10%;
  font-size: 1.3em;
  font-weight: bold;
  color: #000;
  text-align: justify;
}

.personal-info .button-style {
  padding: 3%;
  margin: 5% 0;
  font-size: 1.6em;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius:8px;
}

.habilities {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projects .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.projects .project img {
  width: 60%;
  margin: 2%;
  border-radius: 20px;
}

.projects .project h4 {
  font-size: 1.8em;
  margin-top: 2%;
}

.projects .project p {
  font-size: 1.5em;
  text-align: center;
  padding: 2%;
}

.projects .project .stack {
  font-style: italic;
  margin-bottom: 2%;
}

.projects .project a {
  font-size: 1.5em;
  text-decoration: none;
  color: #000;
  background: #fff;
  border-radius: 8px;
  padding: 2%;
  margin: 2%;
}

.contact {

}


@media (min-width: 600px) {
  header #open-modal, .close-modal {
    display: none;
  }

  nav.modal, header .modal-content {
    display: flex;
    width: 100vw;
    padding: 0;
    margin: 0;
    height: 20vh;
    overflow: hidden;
  }

  header .modal-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .modal-content ul {
    margin: 1%;
    padding: 2%;
    width: 100%;
    font-size: 1.4em;
  }
}